<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" color="dark" (click)="goBack()" class="btnGoBack">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title  mode="ios">Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="editForm" (ngSubmit)="saveForm()">
    <ion-item>
      <ion-label class="label-title">Datos Generales</ion-label>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="nombre" name="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">RFC</ion-label>
      <ion-input formControlName="rfc" name="rfc" type="text" ></ion-input>
    </ion-item>

    <ion-item *ngIf="showLastName">
      <ion-label position="stacked">Apellido Paterno</ion-label>
      <ion-input formControlName="apellidoPaterno" name="apellidoPaterno" type="text"></ion-input>
    </ion-item>
  
    <ion-item *ngIf="showLastName">
      <ion-label position="stacked">Apellido Materno</ion-label>
      <ion-input formControlName="apellidoMaterno" name="apellidoMaterno" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="label-title">Datos de contacto</ion-label>
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input formControlName="telefono" name="telefono" type="number"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input formControlName="correo" name="correo" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label-title">Dirección</ion-label>
      <ion-label position="stacked">País</ion-label>
      <ion-input formControlName="pais" name="pais" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Estado</ion-label>
      <ion-input formControlName="estado" name="estado" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Municipio / Delegación</ion-label>
      <ion-input formControlName="municipio" name="municipio" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Ciudad / Localidad</ion-label>
      <ion-input formControlName="ciudad" name="ciudad" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Código Postal</ion-label>
      <ion-input formControlName="codigoPostal" name="codigoPostal" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Colonia</ion-label>
      <ion-input formControlName="colonia" name="colonia" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Calle</ion-label>
      <ion-input formControlName="calle" name="calle" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Número exterior</ion-label>
      <ion-input formControlName="numeroExterior" name="numeroExterior" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Número interior</ion-label>
      <ion-input formControlName="numeroInterior" name="numeroInterior" type="text"></ion-input>
    </ion-item>

    <ion-button fill="solid" expand="full" color="primary" type="submit" class="btnAction">
      Modificar Perfil
    </ion-button>

    <ion-button fill="solid" expand="full" color="danger" (click)="deletePerfil()" class="btnAction">
      Eliminar Perfil
    </ion-button>
  </form>
</ion-content>
