<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" color="dark" (click)="goBack()" class="btnGoBack">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title  mode="ios">Agregar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <p>Registro Federal de <br> Contribuyentes</p>
    <ion-item>
      <ion-input mode="ios" [(ngModel)]="rfc" name="rfc" type="text" placeholder="Proporcione RFC" maxlength=13></ion-input>
    </ion-item>
  </div>
  <ion-button fill="solid" expand="full" color="primary" (click)="verificarRFC()" class="btnSave">
    Aceptar
  </ion-button>
</ion-content>
