#container {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
}

#container strong {
    font-size: 17px;
}

#container p {
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 70px;
}

.item{
    padding-right: 20px;
}

.btnSave{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}