<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" color="dark" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title  mode="ios" >Domicilio fiscal</ion-title>
    <ion-button fill="clear" color="dark" class="btnSave">
      <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="mainForm" (ngSubmit)="storeData()">
    <ion-item>
      <ion-label class="label-title">Dirección</ion-label>
      <ion-label position="stacked">País</ion-label>
      <ion-input formControlName="pais" name="pais" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Estado</ion-label>
      <ion-input formControlName="estado" name="estado" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Municipio / Delegación</ion-label>
      <ion-input formControlName="municipio" name="municipio" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Ciudad / Localidad</ion-label>
      <ion-input formControlName="ciudad" name="ciudad" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Código Postal</ion-label>
      <ion-input formControlName="codigoPostal" name="codigoPostal" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Colonia</ion-label>
      <ion-input formControlName="colonia" name="colonia" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Calle</ion-label>
      <ion-input formControlName="calle" name="calle" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Número exterior</ion-label>
      <ion-input formControlName="numeroExterior" name="numeroExterior" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Número interior</ion-label>
      <ion-input formControlName="numeroInterior" name="numeroInterior" type="text"></ion-input>
    </ion-item>

    <ion-button fill="solid" expand="full" color="primary" class="btnAction">
      Guardar
    </ion-button>
  </form>
</ion-content>