.label-title{
    font-weight: bold;
    font-size: 17px;
    margin-top: 30px;
}

.item{
    padding-right: 20px;
}

.btnSave{
    position: absolute;
    top: 0px;
    right: 0px;
}

input{
    font-size: 10px;
}