<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" color="dark" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title  mode="ios" >Persona física</ion-title>
    <ion-button fill="clear" color="dark" class="btnSave" (click)="goAddInformation()">
      <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="label-title">Datos Generales</ion-label>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre" name="nombre" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Apellido Paterno</ion-label>
    <ion-input [(ngModel)]="apellidoPaterno" name="apellidoPaterno" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Apellido Materno</ion-label>
    <ion-input [(ngModel)]="apellidoMaterno" name="apellidoMaterno" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">RFC</ion-label>
    <ion-input [ngModel]="rfc" name="rfc" type="text" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="label-title">Datos de contacto</ion-label>
    <ion-label position="stacked">Teléfono</ion-label>
    <ion-input [(ngModel)]="telefono" name="telefono" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Correo electrónico</ion-label>
    <ion-input [(ngModel)]="correo" name="correo" type="text"></ion-input>
  </ion-item>
</ion-content>
