<ion-header>
  <ion-toolbar>
    <ion-title  mode="ios">
      Perfiles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container-profiles">

  <ion-list class="list-profile" *ngIf="showInfo">
    <ion-item *ngFor="let data of Data" [routerLink]="['/editar-perfil/', data.id]">
      <ion-label>{{data.nombre}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="!showInfo">
    <ion-label style="text-align: center;"> No se encuentran perfiles agregados... </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin: 25px;">
    <ion-fab-button (click)="goAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>